<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!--====form section start====-->
  <div class="user-detail">
    <h2>Create User Data</h2>
    <form action="/register/create" method="POST">
      <label>Full Name</label>
      <input type="text" placeholder="Enter Full Name" name="fullName" required>
      <label>Email Address</label>
      <input type="email" placeholder="Enter Email Address" name="emailAddress" required>
      <!-- <label>City</label>
      <input type="city" placeholder="Enter Full City" name="city" required>
      <label>Country</label>
      <input type="text" placeholder="Enter Full Country" name="country" required> -->
      <button type="submit">Submit</button>
  </div>
  </div>
  <!--====form section start====-->
</body>
</html>
