.mainFont {
  font-family: 'Lora', serif;
  background-color:rgb(255, 236, 214);
}

.header {
  background-color: rgb(108, 185, 185);
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.headerTitle {
  margin-top: 2%;
  font-weight: bolder;
}

.searchBody {
  background-image: url('https://i.pinimg.com/originals/1a/22/1c/1a221ccf8224e7becde123df95a57bc3.jpg');
  background-color: rgb(255, 236, 214);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 730px;
}

.searchTags {
  display: flex;
  width: 100%;
  justify-content: space-between;
}


#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

#searchBar {
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30%;
}

.textFormat {
  display: flex;
  font-size: x-large;
  justify-content: center;
  color: white;
  font-weight: bolder;
  margin-left: 10%;
  margin-right: 10%;
}

.footerFormat {
  background-color: white;
  display: flex;
  justify-content: center;
}

.createRecipeBody {
  display: flex;
  flex-wrap: row;
  background-color: rgb(255, 236, 214);
  margin: 3%;
}

.createRecipeDescriptionBox {
  display: flex;
  width: 100%;
  height: 200px;
}

#content {
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}