.mainFont {
  font-family: 'Lora', serif;
}

.header {
  background-color: rgb(108, 185, 185);
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.postBody {
  background-color: bisque;
}